<form (ngSubmit)="onSubmit()" #avaliacaoForm="ngForm">
  <h1>Adicione um Comentário</h1>
  <div class="form-group">
    <label for="usuario">Nome do Usuario</label>
    <input
      type="text"
      class="form-control"
      id="usuario"
      name="usuario"
      [(ngModel)]="avaliacao.nomeUsuario"
      placeholder="Nome do usuario"
      required
    />
  </div>
  <div class="form-group">
    <label for="id">Id do filme</label>
    <input
      type="text"
      class="form-control"
      id="id"
      name="id"
      [(ngModel)]="avaliacao.idFilme"
      placeholder="Id fo filme"
      required
    />
  </div>
  <div class="form-group">
    <label for="nota">Nota</label>
    <input
      type="text"
      class="form-control"
      id="nota"
      name="lancamento"
      [(ngModel)]="avaliacao.nota"
      placeholder="Nota do filme"
      required
    />
  </div>
  <div class="form-group">
    <label for="comentario">Comentario</label>
    <input
      type="text"
      class="form-control"
      id="comentario"
      name="comentario"
      [(ngModel)]="avaliacao.comentario"
      placeholder="Comentario do filme"
      required
    />
  </div>
  <div class="form-group">
    <label for="date">Data do comentário</label>
    <input
      type="date"
      class="form-control"
      id="tipo"
      name="date"
      [(ngModel)]="avaliacao.dataAvaliacao"
      placeholder="Data do comentario"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
  <button type="button" routerLink="/avaliacoes" class="btn btn-danger">
    Cancelar
  </button>
</form>
